@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.nav-head {
  background-color: #f1f1f1;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
}

.header {
  padding-top: 157px;
  background-color: #f1f1f1;
  /* Navigation */
  /* Content */
}
.header__menu {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 76px;
  padding-top: 40px;
}
.header__logo {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #000;
  line-height: 1;
  padding: 0 12px 3px 0;
}
.header__logo::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fda300;
  border-radius: 50%;
}
.header__nav-list {
  display: flex;
  column-gap: 50px;
}
.header__nav-link {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.header__nav-link.active {
  color: #606060;
}
.header__nav-btn {
  display: none;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
.header__content-text {
  max-width: 500px;
}
.header__content-text h1 {
  font-size: 44px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}
.header__content-text p {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  line-height: 2;
}

/* Service */
.services {
  padding: 90px 0;
}
.services__row {
  display: flex;
  column-gap: 30px;
  row-gap: 60px;
  flex-wrap: wrap;
}
.services__card {
  flex: 1 1 0;
  min-width: 315px;
}
.services__card-img {
  margin-bottom: 30px;
}
.services__card-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}
.services__card p {
  line-height: 2;
}

/* Portfolio */
.portfolio {
  background-color: #f1f1f1;
  padding: 90px 0;
}
.portfolio__title {
  text-align: center;
  margin-bottom: 70px;
}
.portfolio__title h2 {
  font-size: 34px;
  font-weight: 600;
  color: #000;
}
.portfolio__project {
  text-align: center;
}
.portfolio__project-img {
  margin-bottom: 40px;
}
.portfolio__project a {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-decoration: underline;
}
.portfolio__project + .portfolio__project {
  margin-top: 90px;
}

.contacts {
  padding: 90px 0;
  text-align: center;
}
.contacts__title {
  margin-bottom: 40px;
}
.contacts__title h2 {
  font-size: 34px;
  font-weight: 600;
  color: #000;
}
.contacts__content {
  margin: 0 auto 40px;
  max-width: 480px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
.contacts__btn {
  margin-bottom: 80px;
}
.contacts__btn button {
  padding: 7px 22px;
  background-color: #000;
  border-radius: 30px;
  font-size: 18px;
  color: #fff;
  transition: background-color 0.2s ease-in, top 0.2s ease-in;
}
@media (hover: hover) {
  .contacts__btn button:hover {
    background-color: #323232;
  }
}
.contacts__btn button:active {
  position: relative;
  top: 1px;
}
.contacts__social {
  display: flex;
  justify-content: center;
  column-gap: 60px;
  align-items: center;
  margin-bottom: 40px;
}
.contacts__footer {
  color: #828282;
}

@media (max-width: 1230px) {
  .container {
    max-width: 970px;
  }
  .nav-container {
    max-width: 970px;
  }
  .header__nav {
    display: flex;
    padding-bottom: 9px;
  }
  .header__nav-list {
    display: none;
  }
  .header__nav-btn {
    display: block;
    position: relative;
    z-index: 10;
  }
  .header__nav.open .header__nav-list {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    padding: 46px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    font-size: 34px;
    font-weight: 600;
    color: #000;
  }
  .header__nav.open .header__nav-list .header__nav-btn {
    position: fixed;
  }
  .header__nav.open .header__nav-list .header__nav-link {
    color: #828282;
  }
  .header__nav.open .header__nav-list .header__nav-link.active {
    color: #000;
  }
  .header {
    padding-top: 125px;
  }
  .header__menu {
    margin-bottom: 30px;
  }
  .header__content-img {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
  .header__menu {
    margin-bottom: 50px;
  }
  .header__content {
    align-items: normal;
    flex-direction: column;
    row-gap: 20px;
  }
  .header__content-text {
    margin-top: 0;
  }
  .header__content-text h1 {
    font-size: 34px;
    line-height: 1.3;
  }
  .header__content-text span {
    font-size: 28px;
  }
  .header__content-img {
    text-align: center;
  }
  .services {
    padding: 60px 0;
  }
  .portfolio {
    padding: 60px 0;
  }
  .portfolio__title {
    margin-bottom: 50px;
  }
  .portfolio__project-img {
    margin-bottom: 30px;
  }
  .portfolio__project + .portfolio__project {
    margin-top: 55px;
  }
  .contacts {
    padding: 60px 0;
  }
  .contacts__title {
    margin-bottom: 20px;
  }
  .contacts__content {
    margin-bottom: 20px;
  }
  .contacts__btn {
    margin-bottom: 70px;
  }
  .contacts__social {
    margin-bottom: 20px;
    column-gap: 50px;
  }
}
@media (max-width: 420px) {
  .services__card {
    min-width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
