.contacts {
  padding: 90px 0;
  text-align: center;
  
  &__title {
    margin-bottom: 40px;
    
    h2 {
      @include font-style(34px, 600);
    }
  }
  
  &__content {
    margin: 0 auto 40px;
    max-width: 480px;   
    @include font-style(18px, 400);
  }
  
  &__btn {
    margin-bottom: 80px;
    
    button {
      padding: 7px 22px;
      background-color: #000;
      border-radius: 30px;
      font-size: 18px;
      color: #fff;
      transition: background-color 0.2s ease-in, top 0.2s ease-in;
      
      &:hover {
        background-color: #323232;
      }
      
      &:active {
        position: relative;
        top: 1px;
        color: #000;
      }
    }
  }
  
  &__social {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    align-items: center;
    margin-bottom: 40px;
  }
  
  &__footer {
    color: #828282;
  }
}